.ana-main {
  width: 100%;
  background: #f9f9f9;
  z-index: 0;
  font: 13px/1.5 Microsoft Yahei, Helvetica Neue, Helvetica, Arial, Hiragino Sans GB, tahoma, SimSun, sans-serif;
}
.ana-main .ana-column {
  width: 1200px;
  height: 350px;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 20px;
}
.ana-main .ana-column-left {
  width: 900px;
  height: 350px;
  display: inline-block;
}
.ana-main .ana-column-left img {
  transition: .7s;
}
.ana-main .ana-column-left img:hover {
  transform: scale(1.1);
}
.ana-main .ana-contain-list {
  width: 1200px;
  height: 1320px;
  margin: 0 auto;
  padding-top: 20px;
}
.ana-main .ana-contain-analysys {
  padding: 30px 0;
}
.ana-main .ana-contain-teacher {
  padding: 30px 0;
}
.ana-column-left-left {
  position: relative;
  width: 600px;
  height: 350px;
  float: left;
  overflow: hidden;
  margin-right: 10px;
}
.ana-column-left-left .ana-title {
  display: none;
  width: 600px;
  height: 60px;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  bottom: 0;
}
.ana-column-left-left .ana-title h3 {
  font-size: 16px;
  color: #fff;
  padding-left: 20px;
  width: 400px;
  height: 60px;
  display: inline-block;
  line-height: 60px;
}
.ana-column-left-left .ana-title a {
  float: right;
  overflow: hidden;
  width: 130px;
  height: 40px;
  font-size: 18px;
  color: #fff;
  background: #d84201;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
  margin-right: 20px;
  margin-top: 10px;
}
.ana-column-left-left .ana-title a:hover {
  background: #d85117;
}
.ana-column-left-left:hover .ana-title {
  display: block;
}
.ana-column-left-right {
  width: 290px;
  height: 350px;
  float: left;
  overflow: hidden;
}
.ana-column-left-right div {
  width: 290px;
  height: 170px;
  overflow: hidden;
}
.ana-column-left-right div a {
  display: inline-block;
}
.ana-column-left-right div a img {
  width: 100%;
}
.ana-column-left-right div:nth-child(2) {
  margin-top: 10px;
}
.ana-column-right {
  float: right;
  width: 280px;
  height: 350px;
  background: #fff;
  overflow: hidden;
}
.ana-column-right div {
  display: inline-block;
}
.ana-column-right div:nth-child(2) {
  float: right;
  font-size: 16px;
  overflow: hidden;
}
.ana-column-right div:nth-child(2) a {
  color: #0198df;
}
.ana-column-right .ana-tit {
  width: 105px;
  height: 28px;
  background: #0097e0;
  color: #fff;
  font-size: 16px;
  border-radius: 0 15px 15px 0;
  line-height: 28px;
  text-align: center;
  margin-top: 20px;
}
.ana-column-right .ana-more {
  margin-top: 20px;
}
.ana-column-right .ana-time-column {
  font-size: 14px;
  width: 100%;
  margin-top: 20px;
}
.ana-column-right .ana-time-column li {
  width: 100%;
  height: 66px;
  margin-bottom: 3px;
}
.ana-column-right .ana-time-column li a span {
  color: #333;
}
.ana-column-right .ana-time-column .ana-l-txt {
  width: 96px;
  height: 66px;
  float: left;
  text-align: center;
  overflow: hidden;
}
.ana-column-right .ana-time-column .ana-cent {
  float: left;
  width: 10px;
  height: 66px;
  position: relative;
  overflow: hidden;
}
.ana-column-right .ana-time-column .ana-cent .ana-pa {
  position: absolute;
  width: 8px;
  height: 8px;
  top: 5px;
  border-radius: 50%;
  border: 1px solid #0097e0;
}
.ana-column-right .ana-time-column .ana-cent div:nth-child(2) {
  position: absolute;
  width: 1px;
  height: 50px;
  top: 17px;
  left: 4px ;
  background: #eee;
}
.ana-column-right .ana-time-column .ana-r-txt {
  width: 145px;
  height: 48px;
  float: right;
  padding: 0 10px;
}
.ana-column-right .ana-time-column li :hover span {
  color: #0198df;
}
.ana-column-right .ana-time-column li :hover .ana-pa {
  background: #0097e0 ;
}
.ana-section-txt1 {
  height: 68px;
  width: 1200px;
  margin: 0 auto;
  line-height: 68px;
}
.ana-section-txt1 h4 {
  width: 92px;
  height: 68px;
  display: inline-block;
  font-size: 22px;
  line-height: 68px;
}
.ana-section-txt1 span {
  font-size: 16px;
  color: #999;
}
.ana-section-txt1 a {
  width: 79px;
  height: 68px;
  float: right;
  overflow: hidden;
  color: #0198df;
  font-size: 16px;
}
.ana-content-one {
  width: 1200px;
  height: 390px;
  margin: 0 auto;
}
.ana-content-one li:hover {
  box-shadow: 0px 0 12px #ccc;
}
.ana-content-one li:hover .list-img img {
  transform: scale(1.1);
}
.ana-content-one li {
  width: 285px;
  height: 344px;
  display: inline-block;
  float: left;
  overflow: hidden;
  margin-right: 20px;
  box-shadow: 0 0 3px #ccc;
}
.ana-content-one li .list-img {
  height: 170px;
  overflow: hidden;
}
.ana-content-one li .list-img img {
  width: 100%;
  height: 170px;
  transition: .7s;
}
.ana-content-one li:nth-child(4) {
  margin: 0;
}
.ana-content-one .ana-list {
  height: 384px;
}
.ana-content-one .list-two-name {
  padding: 0 8px;
  height: 40px;
  line-height: 40px;
}
.ana-content-one .list-two-name .fa-microphone {
  color: #0198df ;
  font-size: 18px;
  padding-right: 3px;
}
.ana-content-one .list-two-name span {
  color: #999;
  font-size: 14px;
}
.ana-content-one .list-tit {
  height: 64px;
  padding: 14px 15px 0;
}
.ana-content-one .list-tit div:nth-child(1) {
  font-size: 16px;
  width: 170px;
  height: 46px;
  display: inline-block;
  color: #333333;
}
.ana-content-one .list-tit div:nth-child(1) a:hover {
  color: #0097e0;
}
.ana-content-one .list-tit div:nth-child(1) a {
  color: #333333;
  display: inline-block;
}
.ana-content-one .list-tit div:nth-child(2) {
  display: inline-block;
  width: 65px;
  height: 50px;
  background: #999;
  float: right;
  overflow: hidden;
  color: #fff;
  line-height: 50px;
  text-align: center;
  border-radius: 4px;
}
.ana-content-one .list-conter {
  font-size: 13px;
  height: 46px;
  color: #666;
  margin: 0 12px 12px;
}
.ana-content-one .list-foot {
  height: 40px;
  border-top: 1px solid #ccc;
  padding: 0 8px;
}
.ana-content-one .list-foot i {
  height: 40px;
  font-size: 18px;
  margin-right: 3px;
  color: #0198df;
}
.ana-content-one .list-foot .fa-map-marker {
  margin-top: 10px;
  float: left;
  color: #0198df;
}
.ana-content-one .list-foot .fa-clock-o {
  margin-top: 10px;
  color: #0198df;
}
.ana-content-one .list-foot .list-f-name {
  height: 40px;
  width: 100px;
  line-height: 40px;
  margin-right: 14px;
  display: inline-block;
  font-size: 14px;
  color: #999;
}
.ana-content-one .list-foot .list-f-time {
  height: 40px;
  width: 110px;
  line-height: 40px;
  display: inline-block;
  font-size: 12px;
  color: #999;
}
.ana-briefIntroduction {
  width: 1200px;
  margin: 0 auto;
  height: 188px;
}
.ana-briefIntroduction li:hover .teacher-txt-show {
  display: none;
}
.ana-briefIntroduction li:hover .teacher-txt-hide {
  display: block;
}
.ana-briefIntroduction li:hover {
  box-shadow: 0 0 25px #ccc;
}
.ana-briefIntroduction li:hover .teacher-img img {
  transform: scale(1.1);
}
.ana-briefIntroduction li {
  width: 285px;
  height: 100px;
  display: inline-block;
  position: relative;
  box-shadow: 0 0 10px #ccc;
  margin-right: 20px;
  float: left;
}
.ana-briefIntroduction li .teacher-img {
  width: 100px;
  height: 100px;
  display: inline-block;
  overflow: hidden;
}
.ana-briefIntroduction li .teacher-img img {
  width: 100%;
  transition: .7s;
}
.ana-briefIntroduction li .teacher-txt {
  width: 182px;
  float: right;
  padding: 10px;
  box-sizing: border-box;
}
.ana-briefIntroduction li .teacher-txt h5 {
  font-size: 16px;
}
.ana-briefIntroduction li .teacher-txt p {
  font-size: 14px;
}
.ana-briefIntroduction li:nth-child(4) {
  margin: 0;
}
.ana-briefIntroduction .teacher-txt-hide a:hover {
  color: #0198df;
}
.ana-briefIntroduction .teacher-txt-hide {
  display: none;
}
.ana-briefIntroduction .teacher-txt-hide a {
  color: #333333;
}
.ana-sliding {
  width: 1200px;
  margin: 0 auto;
  height: 300px;
  position: relative;
}
.ana-sliding .ana-rout {
  width: 898px;
  height: 170px;
  float: left;
  overflow: hidden;
  position: relative;
}
.ana-sliding .ana-rout .ana-rout-list {
  position: absolute;
  width: 9000px;
  height: 140px;
}
.ana-sliding .ana-rout .ana-rout-list li {
  width: 100px;
  height: 136px;
  display: inline-block;
  box-shadow: 0 0 5px #4c524c;
  float: left;
  overflow: hidden;
  margin-right: 29px ;
}
.ana-sliding .ana-rout .ana-rout-list li p {
  height: 36px;
  line-height: 36px;
  text-align: center;
  font-size: 14px;
  color: #333;
}
.ana-sliding .ana-rout .ana-rout-list li div {
  width: 100px;
  height: 100px;
}
.ana-sliding .ana-rout .ana-rout-list li div img {
  width: 100%;
}
.ana-sliding .ana-rout-an {
  position: absolute;
  bottom: 0;
  left: 50%;
}
.ana-sliding .ana-rout-an li {
  display: inline-block;
  height: 10px;
  background: #0198df;
  width: 35px;
  border-radius: 5px ;
  cursor: pointer;
}
.ana-sliding .ana-rout-an li:nth-child(2) {
  left: 30px;
  width: 20px;
  background: #cccccc;
}
.ana-sliding .ana-code {
  width: 280px;
  height: 180px;
  position: absolute;
  right: -5px;
  border-left: 1px solid #ccc;
}
.ana-sliding .ana-code div {
  margin: 0 auto;
  width: 150px;
}
.ana-sliding .ana-code p {
  text-align: center;
  color: #0198df;
}
.ana-content {
  width: 1200px;
  height: 1500px;
  margin: 0 auto;
  padding-top: 20px;
}
.ana-content .ana-content-l {
  height: 1200px;
  width: 750px;
  background: #fff;
  padding: 30px 25px;
  float: left;
  overflow: hidden;
  border: 1px solid #eee;
  border-radius: 4px;
}
.ana-content .ana-content-l .ana-content-l-tit {
  height: 70px;
  color: #333;
  font-size: 24px;
  display: inline-block;
}
.ana-content .ana-content-l .ana-content-l-tit span {
  width: 630px;
  float: right;
  overflow: hidden;
  font-weight: 700;
  margin-left: 20px;
}
.ana-content .ana-g2 {
  height: 400px;
}
.ana-content .ana-active-picture {
  margin: 15px 0;
}
.ana-content .ana-information-txt {
  height: 36px;
  color: #1478cb;
  font-size: 16px;
  border-bottom: 1px solid #eee;
}
.ana-content .ana-information-txt .txt-t {
  width: 82px;
  height: 34px;
  line-height: 34px;
  border-bottom: 2px solid #1478cb;
}
.ana-content .ana-information-field {
  padding: 5px 10px;
  font-size: 16px ;
}
.ana-content .ana-information-field b {
  color: red;
}
.ana-content .ana-information-field p {
  margin: 8px 0;
  text-indent: 2em;
}
.ana-content .ana-information-field p strong {
  margin-right: 10px;
}
.ana-content .ana-information-field span {
  text-indent: 2em;
  display: inline-block;
}
.ana-content .ana-content-r {
  width: 365px;
  height: 1000px;
  box-sizing: border-box;
  margin-left: 32px;
  display: inline-block;
}
.ana-content .ana-content-r .ana-info-r {
  width: 365px;
  height: 260px;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #eee;
}
.ana-content .ana-content-r .ana-info-r .info-r-u {
  padding: 20px 13px;
  border-radius: 4px;
  border-bottom: 1px solid #eee;
  position: relative;
}
.ana-content .ana-content-r .ana-info-r .info-r-u .hide-code {
  width: 246px;
  height: 104px;
  position: absolute;
  border: 3px solid #ccc;
  background: #fff;
  padding: 5px;
  top: 75px ;
  left: 70px;
  display: none;
}
.ana-content .ana-content-r .ana-info-r .info-r-u .hide-code p {
  display: inline-block;
  font-size: 14px;
  float: left;
  margin: 2px 5px 0;
}
.ana-content .ana-content-r .ana-info-r .info-r-u .hide-code .hide-code-img {
  width: 100px;
  float: left;
}
.ana-content .ana-content-r .ana-info-r .info-r-u .hide-code .hide-code-img img {
  width: 100%;
}
.ana-content .ana-content-r .ana-info-r .info-r-u .hide-code .ana-triangle {
  position: absolute;
  left: 127px;
  top: 116px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent ;
  border-right: 8px solid transparent ;
  border-top: 10px solid #ccc ;
}
.ana-content .ana-content-r .ana-info-r .info-r-u .hide-code .ana-triangle i {
  position: absolute;
  left: -7px;
  top: -13px;
  width: 0;
  height: 0;
  border-left: 7px solid transparent ;
  border-right: 7px solid transparent ;
  border-top: 9px solid #fff ;
}
.ana-content .ana-content-r .ana-info-r .info-r-u p {
  font-size: 16px;
  color: #333;
  line-height: 26px;
}
.ana-content .ana-content-r .ana-info-r .info-r-u p span {
  color: #0198df;
}
.ana-content .ana-content-r .ana-info-r .info-r-u .info-link {
  width: 200px;
  height: 50px;
  display: inline-block;
  margin-left: 62px;
  margin-top: 25px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #999;
  line-height: 50px;
}
.ana-content .ana-content-r .ana-info-r .info-r-u .info-link a {
  display: inline-block;
  width: 200px;
  height: 50px;
  font-size: 26px;
  color: #999;
}
.ana-content .ana-content-r .info-r-d {
  padding: 23px 0 23px 20px;
  height: 35px;
  font-size: 16px;
  color: #333;
  line-height: 35px;
  background: #f9f9f9;
  border-bottom: 1px solid #eee;
}
.ana-content .ana-content-r .info-r-d div {
  display: inline-block;
}
.ana-content .ana-content-r .info-r-d span {
  display: inline-block;
  text-align: center;
  width: 90px;
  height: 26px;
  overflow: hidden;
}
.ana-content .ana-content-r .info-r-d span a {
  font-size: 24px;
  color: #999;
}
.ana-content .ana-content-r .info-r-d span .fa-weibo:hover {
  color: #FF0000;
}
.ana-content .ana-content-r .info-r-d span .fa-tencent-weibo:hover {
  color: #87e1ff;
}
.ana-content .ana-content-r .info-r-d .hide-code-button :hover .hide-code {
  display: block;
}
.ana-content .ana-content-r .info-r-d span:nth-child(3) {
  border-left: 1px solid #999;
  border-right: 1px solid #999;
}
.ana-content .ana-Recent {
  margin-top: 20px;
  height: 800px;
  border: 1px solid #eee;
  border-radius: 4px ;
  background: #fff;
  padding: 13px 20px;
}
.ana-content .ana-Recent .r-list-o {
  padding-bottom: 20px;
  margin-top: 25px;
  border-bottom: 1px solid #eee;
}
.ana-content .ana-Recent .r-list-o div {
  width: 100%;
  height: 188px;
}
.ana-content .ana-Recent .r-list-o div img {
  width: 100%;
  float: left;
  overflow: hidden;
}
.ana-content .ana-Recent .r-list-o .r-list-o-cont {
  height: 100px;
  padding: 10px 10px 10px;
  background: #f6f6f6;
  box-sizing: border-box;
}
.ana-content .ana-Recent .r-list-o .r-list-o-cont span {
  font-size: 14px;
  color: #999;
}
.ana-content .ana-Recent .r-list-o .r-list-o-cont p {
  font-size: 16px;
  margin-bottom: 10px;
}
.ana-content .ana-Recent .r-list-o .r-list-o-cont p a:hover {
  color: #0198df;
}
.ana-content .ana-Recent .r-list-o .r-list-o-cont p a {
  color: #333;
}
.ana-content .ana-Recent .r-list-t {
  margin-top: 25px;
}
.ana-content .ana-Recent .r-list-t .r-list-t-img {
  width: 100%;
  height: 188px;
}
.ana-content .ana-Recent .r-list-t .r-list-t-img img {
  width: 100%;
}
.ana-content .ana-Recent .r-list-t .r-list-t-cont {
  height: 80px;
  padding: 10px 10px 10px;
  background: #f6f6f6;
  box-sizing: border-box;
}
.ana-content .ana-Recent .r-list-t .r-list-t-cont span {
  font-size: 14px;
  color: #999;
}
.ana-content .ana-Recent .r-list-t .r-list-t-cont p {
  font-size: 16px;
  margin-bottom: 10px;
}
.ana-content .ana-Recent .r-list-t .r-list-t-cont p a:hover {
  color: #0198df;
}
.ana-content .ana-Recent .r-list-t .r-list-t-cont p a {
  color: #333;
}
.ana-content-rl {
  width: 365px;
  height: 350px;
  box-sizing: border-box;
  margin-left: 32px;
  display: inline-block;
  background: #fff;
  border: 1px solid #eee;
  padding: 25px 15px;
}
.ana-content-rl .rl-up {
  height: 160px;
  border-bottom: 1px solid #ddd ;
}
.ana-content-rl .rl-up .rl-img {
  width: 120px;
  padding: 10px 20px;
  font-size: 0;
  display: inline-block;
  float: left;
}
.ana-content-rl .rl-up .rl-img img {
  width: 100%;
  border: 4px solid  #e6e6e6;
  box-sizing: border-box;
  border-radius: 50%;
}
.ana-content-rl .rl-up .rl-txt {
  float: left;
  padding: 40px 0;
}
.ana-content-rl .rl-up .rl-txt p {
  font-size: 16px;
  font-weight: 600;
}
.ana-content-rl .rl-up .rl-txt span {
  margin-top: 10px;
  display: inline-block;
  font-size: 14px;
  color: #999;
}
.ana-content-rl .rl-down {
  padding: 20px 10px 0;
  font-size: 14px;
  color: #999;
  line-height: 24px;
}
.ana-lecturer {
  width: 100%;
  height: 183px;
  border-bottom: 1px solid #ccc;
}
.ana-lecturer .lecturer-img {
  width: 206px;
  height: 138px;
  float: left;
  overflow: hidden;
  margin-right: 20px;
}
.ana-lecturer .lecturer-img img {
  width: 100%;
  height: 100%;
}
.ana-lecturer .lecturer-main {
  width: 515px;
  float: left;
  overflow: hidden;
}
.ana-lecturer .lecturer-main h3 {
  font-size: 18px;
}
.ana-lecturer .lecturer-main h3 a {
  color: #000;
}
.ana-lecturer .lecturer-main p {
  font-size: 14px;
  height: 78px;
  color: #333;
  margin-top: 8px;
  line-height: 26px;
}
.ana-lecturer .lecturer-main .lecturer-ft {
  margin-top: 20px;
  color: #999;
}
.ana-lecturer .lecturer-main .lecturer-ft span {
  margin-right: 8px;
}
.ana-lecturer .lecturer-main .lecturer-ft i {
  margin-right: 8px;
}
.ana-lecturer-two {
  margin-top: 40px;
}
.ana-lecturer-main {
  height: 600px;
}
.ana-lecturer-main .ana-nav {
  width: 1200px;
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
  padding-top: 30px;
  font-size: 14px;
}
.ana-lecturer-main .ana-nav a {
  color: #0097e0;
}
.ana-lecturer-c {
  height: 500px;
}
.ana-fcontab {
  width: 1170px;
  height: 40px;
  background: #fff;
  margin: 0 auto;
}
.ana-fcontab .ana-f-container {
  overflow: hidden;
}
.ana-fcontab span {
  display: inline-block;
  width: 90px;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  color: #333;
  position: relative;
  cursor: pointer;
}
.ana-fcontab span i {
  position: absolute;
  left: 40px;
  top: 40px;
  width: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #00ABFD;
}
.ana-fcontab span:nth-of-type(1) {
  color: #fff;
  background: #00ABFD;
}
.ana-fcontab span:nth-of-type(2) i {
  display: none;
}
.ana-fcontent {
  color: #333;
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
.ana-fcontent a {
  text-decoration: none;
  color: #333;
}
.ana-fcontent a:hover {
  color: #31b0d5;
}
.ana-fitem {
  float: left;
  width: 210px;
  box-shadow: 2px 2px 2px #ccc;
  margin: 38px 15px 0 15px ;
  position: relative;
}
.ana-fitem .ana-fimg {
  overflow: hidden;
}
.ana-fitem .ana-fimg img {
  display: block;
  width: 210px;
  height: 240px;
  transform: scale(1);
  transition: .5s;
  transition-timing-function: linear;
}
.ana-fitem .ana-fimg span {
  display: block;
  width: 210px;
  height: 240px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 10px;
  color: #fff;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(0);
  transition: .5s;
  transition-timing-function: linear;
}
.ana-fitem .ana-fimg span h4 {
  text-align: center;
  font-size: 20px;
  padding: 5px 0 15px;
}
.ana-fitem .ana-fimg span p {
  line-height: 22px;
  font-size: 13px;
  padding-top: 20px;
  border-top: 1px solid #fff;
}
.ana-fitem .ana-fimg span a {
  display: block;
  width: 80px;
  text-align: center;
  color: #fff;
  padding: 5px 0;
  margin: 40px auto;
  background: #00abfd;
  border-radius: 5px;
}
.ana-fitem .ana-fteacher {
  background: #f3f7fb;
  border: 1px solid #eee;
}
.ana-fitem .ana-fteacher .fname {
  display: block;
  text-align: center;
  line-height: 30px;
  font-size: 16px;
  font-weight: bold;
}
.ana-fitem .ana-fteacher .fmessage {
  display: block;
  height: 22px;
  text-align: center;
  line-height: 22px;
  padding: 4px 4px 4px 0;
  overflow: hidden;
}
.ana-fimg:hover img {
  transform: scale(1.2);
}
.ana-fimg:hover span {
  transform: scale(1);
  background: rgba(0, 0, 0, 0.7);
}
