
<link rel="stylesheet" href="./css/about.css">
<link rel="stylesheet" href="./components/bootstrap/dist/css/bootstrap.css">
<style>
        .BMapLabel{
            max-width:none!important;
            padding: 5px !important;
            background: #f6f6f6 !important;
            border: 1px solid #0097e0 !important;
            border-radius: 4px;
        }
        .BMap_mask{
            left:-711px !important;
            top:-324px !important;

        }

        .BMap_bubble_title{
            font-size: 16px ;
            margin-top: -1px ;
        }
    </style>


<div class="about"> <!--about整体模块-->
    <div class="tab-box">
        <div class="ba"></div>
        <div class="line"></div>
        <div class="ch">
            <section class="j-chooseNav">
                <a href="javascript:;" class="tab-item active">公司简介</a>
                <a href="javascript:;" class="tab-item">出版物介绍</a>
                <a href="javascript:;" class="tab-item">联系我们</a>
            </section>
            <div class="j-chooseNav2 show">
                        <a  href="javascript:;" class="m-tab-item active1">公司简介</a>
                        <a  href="javascript:;" class="m-tab-item">高管团队</a>
                        <a  href="javascript:;" class="m-tab-item">产品体系</a>
                        <a  href="javascript:;" class="m-tab-item">明星分析师</a>
            </div>
            <ul class="j-showContent">
                <!--公司简介模块-->
                <li class="show-tab about-company show">

                    <article>
                        <h1>关于易观</h1>
                        <p>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            易观集团成立于2000年，北京易观智库网络科技有限公司成立于2012年，为易观集团下属专注于大数据分析的子公司（以下简称易观）。历经十六载，易观已成长为中国领先的大数据分析公司，打造了以海量数字用户资产及算法模型为核心的大数据与分析服务生态体系。</p>
                        <p>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;易观总部位于北京，在上海、深圳、成都、长沙均设有分公司。易观常年服务的客户，包括互联网创新公司、投资机构、传统品牌企业等多种类型。</p>
                        <p>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;易观始终致力于利用大数据分析技术，为企业提供数字用户画像及竞争分析等产品服务，助力产品运营；并通过对企业数字用户资产的经营与管理，帮助企业实现增收、节支、提效和避险。易观产品家族包括易观千帆、易观方舟、易观万像、易观博阅等。</p>
                        <p>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;截止2016年12月31日，易观已经覆盖15.1亿智能终端，监测超过156万款移动应用。</p>
                        &nbsp; </article>
                    <div class="company-history">
                        <h1>发展历程</h1>
                    <div>
                        <div class="history-road">
                            <div class="line"></div>
                            <div class="left1 left">
                                <p>成立深圳分公司及长沙办公室&nbsp;<span></span></p>
                                <p>推出易观千帆&nbsp;<span></span></p>
                                <p>提出“拟人智能”以及“数据新能源”理念&nbsp;<span></span></p>
                                <p>完成A轮融资，东方富海等六家公司投资&nbsp;<span></span></p>
                                <span class="left-circle"></span>
                                <span class="left-line" ></span>
                                <span class="left-year">2015</span>
                            </div>
                            <div class="right1 right">
                                <span class="right-year">2016</span>
                                <span class="right-line" ></span>
                                <span class="right-circle"></span>
                                <p><span></span>&nbsp;推出易观方舟及易观万象</p>
                                <p><span></span>&nbsp;升级长沙办公室为“大数据产品技术研发中心”</p>
                                <p><span></span>&nbsp;推出“易观分析学院”，承担社会责任，为产业培养分析算法人才</p>
                                <p><span></span>&nbsp;完成B轮融资，深创投领投</p>
                                <p><span></span>&nbsp;品牌新升级</p>
                            </div>
                            <div class="left2 left">
                                <p>提出“互联网+”理论&nbsp;<span></span></p>
                                <p>推出移动互联网用户数据体系&nbsp;<span></span></p>
                                <span class="left-circle"></span>
                                <span class="left-line" ></span>
                                <span class="left-year">2012</span>


                            </div>
                            <div class="right2 right">
                                <span class="right-year">2014</span>
                                <span class="right-line" ></span>
                                <span class="right-circle"></span>
                                <p><span></span>&nbsp;成立成都分公司</p>
                                <p><span></span>&nbsp;推出易观博阅</p>
                            </div>
                            <div class="left3 left"><p>独立品牌运营，开始移动互联网、互联网等创新产业研究&nbsp;<span></span></p>
                                <p>苹果（中国）创新产品研究和咨询，移动应用评估模型由此起航&nbsp;<span></span></p>
                                <span class="left-circle"></span>
                                <span class="left-line" ></span>
                                <span class="left-year">2005</span></div>
                            <div class="right3 right">
                                <span class="right-year">2007</span>
                                <span class="right-line" ></span>
                                <span class="right-circle"></span>
                                <p><span></span>&nbsp;推出在线信息服务平台易观智库</p>
                                <p><span></span>&nbsp;推出分析师训练营，为产品提供分析师人才行基础</p>
                                <p><span></span>&nbsp;提出“互联网化”理论</p>
                            </div>
                            <div class="left4 left">
                                <p>公司成立&nbsp;<span></span></p>
                                <p>成为全球IT顾问公司Gartner的中国区独家研究合作伙伴&nbsp;<span></span></p>
                                <p>推出网民研究业务&nbsp;<span></span></p>
                                <span class="left-circle"></span>
                                <span class="left-line" ></span>
                                <span class="left-year">2000</span></div>
                            <div class="right4 right">
                                <span class="right-year">2003</span>
                                <span class="right-line" ></span>
                                <span class="right-circle"></span>
                                <p><span></span>&nbsp;成立上海分公司</p>
                                <p><span></span>&nbsp;给HP亚太总部做中国区PC渠道3年规划···奠定消费产品渠道评估模</p>
                                <p>&nbsp;型基础</p>
                            </div>
                        </div>
                    </div>
                    </div>

                    <div class="company-cultrue">

                        <h1>企业文化</h1>
                        <p>追求员工价值、客户价值和股东价值长期和谐共同发展</p>
                        <div class="cul-box">
                            <div class="cul cul1">
                                <h2>自由</h2>
                                <span>客观独立、专业保障</span>
                            </div>
                            <div class="cul cul2">
                                <h2>开放</h2>
                                <span>科技驱动、拥抱变革</span>
                            </div>
                            <div class="cul cul3">
                                <h2>勇敢</h2>
                                <span>勇于担当、使命必达</span>
                            </div>
                            <div class="cul cul4">
                                <h2>快乐</h2>
                                <span>积极乐观、新人分享</span>
                            </div>
                        </div>
                    </div>



                </li>

                <!--出版物介绍模块-->
                <li class="show-tab about-publication">

                      <div class="book-msg-1">
                          <div class="l-pic fl">
                              <img src="./src/imgs/about/book-1.png">
                          </div>
                          <div class="r-txt fr">
                              <h3>中国互联网产业发展年鉴2016</h3>
                              <p class="authorinfo">主编: 于揚</p>
                              <p>“互联网专业服务第一机构”易观重磅打造《中国互联网产业发展年鉴2016》（东方出版社出版），助互联网从业人员及时了解互联...</p>
                              <span class="btn btn-danger" id="j-buy-book">点击购买</span>
                          </div>
                      </div>

                    <div class="book-msg">
                        <div class="l-pic fl">
                            <img src="./src/imgs/about/book-2.png">
                        </div>
                        <div class="r-txt fl">
                            <h3>互联网+的密码中国互联网产业发展年鉴</h3>
                            <p class="authorinfo">主编: 于揚</p>
                            <p>继2007年提出了“互联网化”理念之后，在2012年11月易观第五届移动互联网博览会上，易观国际董事长兼首席执行官于揚先</p>
                            <span class="btn btn-danger">点击购买</span>
                        </div>
                    </div>

                    <div class="book-msg">
                        <div class="l-pic fl">
                            <img src="./src/imgs/about/book-3.png">
                        </div>
                        <div class="r-txt fl">
                            <h3>中国互联网产业发展年鉴2014</h3>
                            <p class="authorinfo">主编: 于揚</p>
                            <p>《中国互联网产业发展年鉴2014》，是易观国际最新发布的针对2013年度中国互联网产业全网分析与研究的大型工具类图书。年.</p>
                            <span class="btn btn-danger">点击购买</span>
                        </div>
                    </div>

                    <div class="book-msg">
                        <div class="l-pic fl">
                            <img src="./src/imgs/about/book-4.png">
                        </div>
                        <div class="r-txt fl">
                            <h3>中国移动电视发展报告(2013)</h3>
                            <p class="authorinfo">主编: 庞亿明</p>
                            <p>该报告由中国广播电视协会交通宣传委员会移动电视分会和易观智库共同编撰,是中国第一部系统描绘移动电视行业发展状况的研究报告...</p>
                            <span class="btn btn-danger">点击购买</span>
                        </div>
                    </div>

                    <div class="book-msg">
                        <div class="l-pic fl">
                            <img src="./src/imgs/about/book-9.png">
                        </div>
                        <div class="r-txt fl">
                            <h3>移动互联网蓝皮书：中国移动互联网发展报</h3>
                            <p class="authorinfo">主编: 薛永锋</p>
                            <p>本书对2013年中国移动互联网发展状况作了详细介绍，对其发展特征、影响等作了深度解读和分析；书中对中国移动互联网基础设施...</p>
                            <span class="btn btn-danger">点击购买</span>
                        </div>
                    </div>

                    <div class="book-msg">
                        <div class="l-pic fl">
                            <img src="./src/imgs/about/book-6.png">
                        </div>
                        <div class="r-txt fl">
                            <h3>中国版权年鉴2015（总第七卷）</h3>
                            <p class="authorinfo">主编: 薛永锋</p>
                            <p>本书全面记录了2014年中国版权事业的发展状况，系统反映了我国版权管理保护工作的概貌，详实收载了国际版权交流与合作的主要...</p>
                            <span class="btn btn-danger">点击购买</span>
                        </div>
                    </div>

                    <div class="book-msg">
                        <div class="l-pic fl">
                            <img src="./src/imgs/about/book-7.png">
                        </div>
                        <div class="r-txt fl">
                            <h3>中国版权年鉴2012 （总第四卷）</h3>
                            <p class="authorinfo">主编: 于揚</p>
                            <p>“互联网专业服务第一机构”易观重磅打造《中国互联网产业发展年鉴2016》（东方出版社出版），助互联网从业人员及时了解互联...</p>
                            <span class="btn btn-danger">点击购买</span>
                        </div>
                    </div>

                    <div class="book-msg">
                        <div class="l-pic fl">
                            <img src="./src/imgs/about/book-8.png">
                        </div>
                        <div class="r-txt fl">
                            <h3>2015年首都互联网发展报告</h3>
                            <p class="authorinfo">主编: 薛永锋</p>
                            <p>本书全面记录了2014年中国版权事业的发展状况，系统反映了我国版权管理保护工作的概貌，详实收载了国际版权交流与合作的主要...</p>
                            <span class="btn btn-danger">点击购买</span>
                        </div>
                    </div>

                    <div class="book-msg">
                        <div class="l-pic fl">
                            <img src="./src/imgs/about/book-5.png">
                        </div>
                        <div class="r-txt fl">
                            <h3>中国互联网产业发展年鉴2015</h3>
                            <p class="authorinfo">主编: 于揚</p>
                            <p>“互联网专业服务第一机构”易观重磅打造《中国互联网产业发展年鉴2015》（东方出版社出版），助互联网从业人员及时了解互联...</p>
                            <span class="btn btn-danger">点击购买</span>
                        </div>
                    </div>
                </li>
                <!--联系我们模块-->
                <li class="show-tab about-contact">

                    <div style="margin: 10px auto; width:1299px;height:600px;border:#ccc solid 1px;font-size:12px" id="map"></div>
                    <script type="text/javascript">

                        //创建和初始化地图函数：
                        function initMap(){
                            createMap();//创建地图
                            setMapEvent();//设置地图事件
                            addMapControl();//向地图添加控件
                            addMapOverlay();//向地图添加覆盖物
                        }
                        function createMap(){
                            map = new BMap.Map("map");
                            map.centerAndZoom(new BMap.Point(116.471149,39.991804),19);
                        }
                        function setMapEvent(){
                            map.enableScrollWheelZoom();
                            map.enableKeyboard();
                            map.enableDragging();
                            map.enableDoubleClickZoom()
                        }
                        function addClickHandler(target,window){
                            target.addEventListener("click",function(){
                                target.openInfoWindow(window);
                            });
                        }
                        function addMapOverlay(){
                            var markers = [
                                {content:"北京市朝阳区花家地北里19号望京大厦C座三层 邮编：100102 电话：4006-515-715 传真：010-64668599",title:"望京大厦C座三层",imageOffset: {width:-92,height:-46},position:{lat:39.990918,lng:116.474232}}
                            ];
                            for(var index = 0; index < markers.length; index++ ){
                                var point = new BMap.Point(markers[index].position.lng,markers[index].position.lat);
                                var marker = new BMap.Marker(point,{icon:new BMap.Icon("http://api.map.baidu.com/lbsapi/createmap/images/icon.png",new BMap.Size(20,25),{
                                    imageOffset: new BMap.Size(markers[index].imageOffset.width,markers[index].imageOffset.height)
                                })});
                                var label = new BMap.Label(markers[index].title,{offset: new BMap.Size(25,5)});
                                var opts = {
                                    width: 200,
                                    title: markers[index].title,
                                    enableMessage: false
                                };
                                var infoWindow = new BMap.InfoWindow(markers[index].content,opts);
                                marker.setLabel(label);
                                addClickHandler(marker,infoWindow);
                                map.addOverlay(marker);
                            };
                        }
                        //向地图添加控件
                        function addMapControl(){
                            var scaleControl = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});
                            scaleControl.setUnit(BMAP_UNIT_IMPERIAL);
                            map.addControl(scaleControl);
                            var navControl = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_LEFT,type:BMAP_NAVIGATION_CONTROL_LARGE});
                            map.addControl(navControl);
                            var overviewControl = new BMap.OverviewMapControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT,isOpen:true});
                            map.addControl(overviewControl);

                            map.addControl(new BMap.NavigationControl());
//        map.addControl(new BMap.ScaleControl());
                            map.addControl(new BMap.OverviewMapControl());
                            map.addControl(new BMap.MapTypeControl());
                            map.setCurrentCity("北京"); // 仅当设置城市信息时，MapTypeControl的切换功能才能可用
                        }
                        var map;
                        initMap();
                    </script>
                </li>

                <!--高管团队模块-->
                <li class="show-tab2 about-leaders">
                     <div class="about-leader">
        <ul class="leader">
            <li class="leader-list">
                <div class="left">
                    <img src="./src/imgs/leader/leader1.png">
                </div>
                <div class="f-fl">
                    <p class="na">于揚（Edward Yu）</p>
                    <p class="pos">易观创始人兼CEO</p>
                </div>
                <div class="right">
                    <p class="sum">
                        凭借多年大数据分析经验的积累，于揚先生前瞻性地提出了“互联网化”和“互联网+”理念。作为“互联网+”的首创者、推动者和实践者，于揚先生为海内外多家知名企业进行互联网化战略指导，帮助他们找到属于自己的“
                    </p>
                </div>
            </li>

            <li class="leader-list">
                <div class="left">
                    <img src="./src/imgs/leader/leader2.png">
                </div>
                <div class="f-fl">
                    <p class="na">刘怡</p>
                    <p class="pos">易易观合伙人兼总裁</p>
                </div>
                <div class="right">
                    <p class="sum">
                        刘怡女士2000年加入易观，现任易观总裁，全面负责易观日常运营工作。刘怡女士分别就读北师大数学系及北京大学光华学院，具有丰富的大数据方法论经验和背景，历任航天部工程师、中国国际电视总公司央视调查中心
                    </p>
                </div>
            </li>
            <li class="leader-list">
                <div class="left">
                    <img src="./src/imgs/leader/leader3.png">
                </div>
                <div class="f-fl">
                    <p class="na">郭炜</p>
                    <p class="pos">易观CTO</p>
                </div>
                <div class="right">
                    <p class="sum">
                        郭炜先生2015年加入易观，担任易观CTO，负责构建易观技术团队、完成易观大数据采集、平台、数据挖掘等技术架构与体系；从无到有完成易观混合云的搭建、以及易观SDK的升级，并发布易观秒算实时计算平台。
                    </p>
                </div>
            </li>
            <li class="leader-list">
                <div class="left">
                    <img src="./src/imgs/leader/leader4.png">
                </div>
                <div class="f-fl">
                    <p class="na">李智</p>
                    <p class="pos">易观副总裁 智慧院院长</p>
                </div>
                <div class="right">
                    <p class="sum">
                        李智女士2007年加入易观，现任易观副总裁。具有10年互联网行业分析及企业服务经验，对大数据价值挖掘，商业数据服务，数字用户资产管理运营，互联网商业模式等有着深入理解和丰富经验。迄今为止，已为超过百家
                    </p>
                </div>
            </li>
            <li class="leader-list">
                <div class="left">
                    <img src="./src/imgs/leader/leader5.png">
                </div>
                <div class="f-fl">
                    <p class="na">娄洋</p>
                    <p class="pos">易观副总裁</p>
                </div>
                <div class="right">
                    <p class="sum">
                        娄洋女士2004年加入易观，现任易观副总裁，带领易观客户关系群组，致力于推动客户业务的持续增长，为品牌创造更大的商业价值。娄洋女士在数据分析行业拥有超过十年的从业经验，她在包括客户运营及管理、数据洞察.
                    </p>
                </div>
            </li>
            <li class="leader-list">
                <div class="left">
                    <img src="./src/imgs/leader/leader6.png">
                </div>
                <div class="f-fl">
                    <p class="na">董旭</p>
                    <p class="pos">易观分析群组总经理</p>
                </div>
                <div class="right">
                    <p class="sum">
                        董旭女士2010年加入易观，担任易观分析群组总经理，负责易观分析师团队运营和发展。董旭女士长期致力于包括网络营销、电子商务等领域的分析，从事互联网、移动互联网相关领域研究方法论的梳理及研究模型的创新
                    </p>
                </div>
            </li>
            <li class="leader-list">
                <div class="left">
                    <img src="./src/imgs/leader/leader7.png">
                </div>
                <div class="f-fl">
                    <p class="na">朱江</p>
                    <p class="pos">易观副总裁</p>
                </div>
                <div class="right">
                    <p class="sum">
                        朱江先生2014年加入易观，现任易观副总裁，全面负责易观商业大数据产品的产品研发及运营等工作。朱江先生具有近二十年跨行业的技术产品管理从业经验，善于将大数据产品及技术与不同行业特点相结合，提升企业产品
                    </p>
                </div>
            </li>
            <li class="leader-list">
                <div class="left">
                    <img src="./src/imgs/leader/leader8.png">
                </div>
                <div class="f-fl">
                    <p class="na">王珺</p>
                    <p class="pos">易观数据应用中心总经理</p>
                </div>
                <div class="right">
                    <p class="sum">
                        王珺先生2013 年加入易观，现任易观数据应用中心总经理，全面负责易观大数据解决方案业务。王珺先生是移动互联网发端时代的优秀产品经理之一，具有丰富的移动产品运营以及数据指导产品优化实践经验。 加入易
                    </p>
                </div>
            </li>
        </ul>
    </div>
                </li>
                <!--产品体系-->
                <li class="show-tab2 about-products">
                    <h1 class="products-h1">易观大数据产品家族</h1>
                    <section class="products-list pl1">
                        <div class="p-left">
                            <img src="./src/imgs/about/qianfan-logo.png">
                        </div>
                        <div class="p-right">

                            <p class="na"><a href = "">易观千帆</a></p>
                            <p>易观千帆是基于中国数字消费者在移动终端设备上的海量行为数据进行挖掘的大数据产品。旨在监测各类APP的使用情况、分析用户构成及行为特征，为客户提供内部运营决策支持和外部竞争分析的一站式服务。</p>
                        </div>
                    </section>

                    <section class="products-list pl2">
                        <div class="p-left">
                            <img src="./src/imgs/about/boyue-logo.png">
                        </div>
                        <div class="p-right">

                            <p class="na"><a href = "">易观博阅</a></p>
                            <p>知识服务云，覆盖上百个领域，持续积累十余年的5000份行业深度分析， 4000家互联网创新企业，帮助企业登高望远，快速把握商机。</p>
                        </div>
                    </section>

                    <section class="products-list pl3">
                        <div class="p-left">
                            <img src="./src/imgs/about/dev-logo.png">
                        </div>
                        <div class="p-right">

                            <p class="na"><a href = "">易观方舟</a></p>
                            <p>面向产品和用户精细化运营的数据分析云。通过在用户生命周期各个阶段，识别核心高价值用户群体，指导产品的运营，提升各环节用户转化的效率，为产品运营提供基础运营分析以及用户精细化运营管理的数据支撑和分析工作。</p>
                        </div>
                    </section>

                    <section class="products-list pl4">
                        <div class="p-left">
                            <img src="./src/imgs/about/ta-logo.png">
                        </div>
                        <div class="p-right">

                            <p class="na"><a href = "">易观万像</a></p>
                            <p>基于中国数字消费者海量的用户行为统计和分析，帮助广告公司、广告主以及数字用户企业洞悉目标人群的互联网行为偏好，深度分析媒体在特定人群范围的媒体价值；通过多维度的人群筛选，锁定目标人群在移动互联网的APP媒体偏好和行为偏好，助力广告公司及广告主在媒介选择和营销策略制定时，选择最佳的目标人群广告投放方案提供数据支持，从而提升广告投放效率。</p>
                        </div>
                    </section>
                </li>

                <!--明星分析师-->
                <li class="show-tab2 about-analysts">
                    <div class="analysts">
                        <section class="box-list">
                            <div class="left">
                                <img src = "./src/imgs/analysts/star-1.png">
                            </div>
                            <div class="right">
                                <p class="na"><a href = "">董旭</a></p>
                                <p class="sum">致力于包括网络营销、电子商务、移动互联网等多个细分领域的研究，7年行业研究经验，带领团队完成多项研究报告</p>
                            </div>
                        </section>

                        <section class="box-list">
                            <div class="left">
                                <img src = "./src/imgs/analysts/star-2.png">
                            </div>
                            <div class="right">
                                <p class="na"><a href = "">王珺</a></p>
                                <p class="sum">专注于互联网终端、应用、云计算领域研究，对互联网+有深入的理解以及独到的见解，致力于帮助传统行业实现互联网化，9年行业研</p>
                            </div>
                        </section>

                        <section class="box-list">
                            <div class="left">
                                <img src = "./src/imgs/analysts/star-3.png">
                            </div>
                            <div class="right">
                                <p class="na"><a href = "">孙梦子</a></p>
                                <p class="sum">致力于互联网及移动互联网发展趋势研究。关注移动便民应用、生活服务、新型020领域的发展。多年的移动互联网产品运营经验及行业</p>
                            </div>
                        </section>

                        <section class="box-list">
                            <div class="left">
                                <img src = "./src/imgs/analysts/star-4.png">
                            </div>
                            <div class="right">
                                <p class="na"><a href = "">薛永锋</a></p>
                                <p class="sum">致力于TMT、互联网、移动互联网的产业研究，长期深入关注网络游戏、数字阅读、数字音乐、互联网影视、互联网动漫等多个细分领域</p>
                            </div>
                        </section>

                        <section class="box-list">
                            <div class="left">
                                <img src = "./src/imgs/analysts/star-5.png">
                            </div>
                            <div class="right">
                                <p class="na"><a href = "">马韬</a></p>
                                <p class="sum">专注于互联网金融（第三方支付、P2P、众筹等）传统金融机构互联网化研究，6年金融机构工作经验</p>
                            </div>
                        </section>

                        <section class="box-list">
                            <div class="left">
                                <img src = "./src/imgs/analysts/star-6.png">
                            </div>
                            <div class="right">
                                <p class="na"><a href = "">庞亿明</a></p>
                                <p class="sum">6年行业研究经验，对互联网/移动互联网下的新媒体产业有深刻理解</p>
                            </div>
                        </section>
                        <section class="box-list">
                            <div class="left">
                                <img src = "./src/imgs/analysts/star-7.png">
                            </div>
                            <div class="right">
                                <p class="na"><a href = "">杨帆</a></p>
                                <p class="sum">6年互联网、移动互联网、智能终端研究经验，带领团队完成和参与多个细分领域行业研究报告撰写</p>
                            </div>
                        </section>
                        <section class="box-list">
                            <div class="left">
                                <img src = "./src/imgs/analysts/star-8.png">
                            </div>
                            <div class="right">
                                <p class="na"><a href = "">张旭</a></p>
                                <p class="sum">致力于互联网及互联网化宏观产业研究，深耕在位置服务、互联网出行、车联网、二次元等多个细分领域</p>
                            </div>
                        </section>
                        <section class="box-list">
                            <div class="left">
                                <img src = "./src/imgs/analysts/star-9.png">
                            </div>
                            <div class="right">
                                <p class="na"><a href = "">姜昕蔚</a></p>
                                <p class="sum">多年互联网、传统企业互联网化、医疗健康研究医疗健康市场相关研究与分析。带领团队和参与完成数十个市场报告及行业研究报告攥写</p>
                            </div>
                        </section>
                        <section class="box-list">
                            <div class="left">
                                <img src = "./src/imgs/analysts/star-10.png">
                            </div>
                            <div class="right">
                                <p class="na"><a href = "">任伟巍</a></p>
                                <p class="sum">10年IT市场研究经验，6年以上大数据、云计算、移动信息化、企业社交网络、商业分析等热点技术的研究经验</p>
                            </div>
                        </section>


                    </div>
                </li>
            </ul>
            
        </div>
    </div>
</div>


<script src="./js/about.js"></script>



