
    <link rel="stylesheet" href="./css/ana-main.css" />


    <div class="ana-main">
        <div class="ana-contain-list">
            <div class="ana-content">
                <div class="ana-content-l">
                    <div class="ana-content-l-tit">
                        <img src="../src/imgs/analysys/icon_detail.jpg" alt=""/>
                        <span>谁动了春晚的奶酪？</span>
                    </div>
                    <div class="ana-active-picture">
                        <img src="../src/imgs/analysys/1487732798177148705.jpg" alt=""/>
                    </div>
                    <div class="ana-information-txt">
                        <div class="txt-t">
                            活动信息
                        </div>
                    </div>
                    <div class="ana-information-field">
                        <p><strong>时    间：</strong>2017年2月15日20：00线上社群分享</p>
                        <p><strong>分享社群：</strong>易观互娱和他的朋友们</p>
                        <p><strong>分享主题：</strong>谁动了春晚的奶酪？</p>
                        <p><strong>分享内容：</strong>春晚大数据</p>
                        <p><strong>分享嘉宾：</strong>王传珍 易观互动娱乐行业中心  分析师</p>
                        <span>致力于娱乐内容形态及互联网内容的行业分析工作，分析领域为秀场娱乐、移动电台、移动音乐与移动K歌等细分领域。</span>
                        <p><strong>报名方式：</strong></p>
                        <p>
                            <span>扫描下方微信二维码，添加社群管理员微信号。请务必备注 <b>“数聚说”</b>！添加后经管理员审核后入群即可参加。</span>
                            <img src="../src/imgs/analysys/joinus.jpg" alt=""/>
                        </p>
                        <p>
                            <strong>易观数据说：</strong>
                            <span>
                            “易观数聚说”是由易观发起，联手合作伙伴共同为互联网相关人士打造的线上交流平台，定期邀请深耕行业多年的易观分析师和业内专家作为嘉宾与大家进行线上分享交流。分享内容覆盖多个垂直领域，其中包括医疗、在线旅游、互联网金融、互娱、游戏、智能硬件、智能制造业、汽车、体育、生活服务、母婴、教育、电子商务、新媒体等细分行业，旨在为大家提供一个开放、互助、包容的高质量交流社区。
                        </span>
                        </p>
                    </div>
                </div>
                <div class="ana-content-r">
                    <div class="ana-info-r">
                        <div class="info-r-u">
                            <p><span>讲师：</span>任伟魏</p>
                            <p><span>报名时间：</span>2017-02-22 20:00</p>
                            <div class="info-link">
                                <a href="#">已结束</a>
                            </div>
                            <div class="hide-code">
                                <div class="hide-code-img"><img src="../src/imgs/analysys/joinus.jpg" alt="图片加载失败"/></div>
                                <p>打开微信"扫一扫",</p>
                                <p>打开网页后点击屏幕</p>
                                <p>右上角"分享"按钮</p>
                                <div class="ana-triangle">
                                    <i></i>
                                </div>
                            </div>
                        </div>
                        <div class="info-r-d">
                            <div>分享：</div>
                            <span><a href="#" class="fa fa-weibo"></a></span>
                            <span class="hide-code-button"><a href="#" class="fa fa-wechat"></a></span>
                            <span><a href="#" class="fa fa-tencent-weibo"></a></span>
                        </div>
                    </div>
                    <div class="ana-Recent ">
                        <div class="ana-information-txt">
                            <div class="txt-t">
                                近期信息
                            </div>
                        </div>
                        <ul class="ana-Recent-list">
                            <li class="r-list-o">
                                <div>
                                    <a href="./ana-list.html">
                                        <img title="中国数据即服务（DaaS）市场专题分析" src="../src/imgs/analysys/148765567682.jpg" alt=""/>
                                    </a>
                                </div>
                                <div class="r-list-o-cont">
                                    <p title="中国数据即服务（DaaS）市场专题分析"><a href="./ana-list.html">中国数据即服务（DaaS）市场专题分...</a></p>
                                    <span title="数据即服务市场格局分析/数据即服务市场应用分析/数据即服务典型厂商分析/数据即服务市场趋势分析">数据即服务市场格局分析/数据即服务市场应用分析/数据即服务典型厂商分析/数据即服...</span>
                                </div>
                            </li>
                            <li class="r-list-t">
                                <div class="r-list-t-img">
                                    <a title="谁动了春晚的奶酪？" href=""><img src="../src/imgs/analysys/1487732798177148705.jpg" alt=""/></a>
                                </div>
                                <div class="r-list-t-cont">
                                    <p title="谁动了春晚的奶酪?"><a href="#">谁动了春晚的奶酪?</a></p>
                                    <span title="春晚大数据"> 春晚大数据</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/ana-list.js"></script>


