
    <link rel="stylesheet" href="./css/ana-main.css"/>
    <script src="./js/ana-sliding.js"></script>

<div class="ana-main">
    <div class="ana-contain-analysys">
        <div class="ana-column">
            <div class="ana-column-left">
                <div class="ana-column-left-left" title="中国数据及服务(Daas)市场专题分析">
                    <a href="./pages/ana-list.html">
                        <img src="./src/imgs/analysys/148765567682.jpg" alt=""/>
                    </a>
                    <div class="ana-title">
                        <h3>中国数据及服务(Daas)市场专题分析</h3>
                        <a href="./pages/ana-list.html">马上报名</a>
                    </div>
                </div>
                <div class="ana-column-left-right">
                    <div title="谁动了春晚的奶酪？">
                        <a href="./pages/ana-details-1.html">
                            <img src="./src/imgs/analysys/1487732798177148705.jpg" alt=""/>
                        </a>
                    </div>
                    <div title="易观相对论（第103期）—金融科技专场：互联网金融的下一个风口在哪里？">
                        <a href="#">
                            <img src="./src/imgs/analysys/148223508.jpg" alt=""/>
                        </a>
                    </div>
                </div>
            </div>
            <div class="ana-column-right">
                <div class="ana-tit">活动时间表</div>
                <div class="ana-more"><a href="#">更多></a></div>
                <ul class="ana-time-column">
                    <li>
                        <a href="./pages/ana-list.html">
                            <div class="ana-l-txt"><span>02-22 20:00</span></div>
                            <div class="ana-cent">
                                <div class="ana-pa"></div>
                                <div></div>
                            </div>
                            <div class="ana-r-txt" title="中国数据即服务（DaaS）市场专题分析">
                                <span>中国数据即服务（DaaS）市场专题分...</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="./pages/ana-details-1.html">
                            <div class="ana-l-txt"><span>02-15 20:00</span></div>
                            <div class="ana-cent">
                                <div class="ana-pa"></div>
                                <div></div>
                            </div>
                            <div class="ana-r-txt" title="谁动了春晚的奶酪？">
                                <span>谁动了春晚的奶酪？</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="ana-l-txt"><span>02-08 20:00</span></div>
                            <div class="ana-cent">
                                <div class="ana-pa"></div>
                                <div></div>
                            </div>
                            <div class="ana-r-txt" title="中国在线自由行市场发展趋势专题分析2...">
                                <span>中国在线自由行市场发展趋势专题分析2...</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="ana-l-txt"><span>01-24 20:00</span></div>
                            <div class="ana-cent">
                                <div class="ana-pa"></div>
                                <div></div>
                            </div>
                            <div class="ana-r-txt" title="中国IP市场专题分析2017">
                                <span>中国IP市场专题分析2017</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="ana-section-txt1">
            <h4>数聚说</h4>
            <span>每周三晚8点</span>
            <a href="#">查看更多></a>
        </div>
        <ul class="ana-content-one">
            <li>
                <div class="list-img">
                    <a href="./pages/ana-list.html" title="中国数据即服务（DaaS）市场专题分析">
                        <img src="./src/imgs/analysys/148765567682.jpg" alt=""/>
                    </a>
                </div>
                <div class="list-tit">
                    <div><a href="./pages/ana-list.html" title="中国数据即服务（DaaS）市场专题分析">中国数据即服务（DaaS）市场专题分...</a></div>
                    <div>已结束</div>
                </div>
                <div class="list-conter" title="数据即服务市场格局分析/数据即服务市场应用分析/数据即服务典型厂商分析/数据即服务市场趋势分析">数据即服务市场格局分析/数据即服务市场应用分析/数据即服务典型厂商分...</div>
                <div class="list-foot">
                    <i class="fa fa-microphone"></i>
                    <span class="list-f-name" title="任伟巍">任伟巍</span>
                    <i class="fa fa-clock-o"></i>
                    <span class="list-f-time">2017-02-22 20:00</span>
                </div>
            </li>
            <li>
                <div class="list-img">
                    <a href="./pages/ana-details-1.html" title="谁动了春晚的奶酪？">
                        <img src="./src/imgs/analysys/1487732798177148705.jpg" alt=""/>
                    </a>
                </div>
                <div class="list-tit">
                    <div><a href="./pages/ana-details-1.html" title="春晚大数据">春晚大数据</a></div>
                    <div>已结束</div>
                </div>
                <div class="list-conter" title="春晚大数据">春晚大数据</div>
                <div class="list-foot">
                    <i class="fa fa-microphone"></i>
                    <span class="list-f-name" title="王传真">王传真</span>
                    <i class="fa fa-clock-o"></i>
                    <span class="list-f-time">2017-02-15 20:00</span>
                </div>
            </li>
            <li>
                <div class="list-img">
                    <a href="#" title="中国在线自由行市场发展趋势专题分析2017">
                        <img src="./src/imgs/analysys/148773295.jpg" alt=""/>
                    </a>
                </div>
                <div class="list-tit">
                    <div><a href="#" title="中国在线自由行市场发展趋势专题分析2017">中国在线自由行市场发展趋势专题分析2...</a></div>
                    <div>已结束</div>
                </div>
                <div class="list-conter" title="中国在线自由行市场概况/中国在线自由行市场发展趋势">中国在线自由行市场概况/中国在线自由行市场发展趋势</div>
                <div class="list-foot">
                    <i class="fa fa-microphone"></i>
                    <span class="list-f-name" title="朱正煜">朱正煜</span>
                    <i class="fa fa-clock-o"></i>
                    <span class="list-f-time">2017-02-08 20:00</span>
                </div>
            </li>
            <li>
                <div class="list-img">
                    <a href="#" title="中国IP市场专题分析2017">
                        <img src="./src/imgs/analysys/14877330.jpg" alt=""/>
                    </a>
                </div>
                <div class="list-tit">
                    <div><a href="#" title="中国IP市场专题分析2017">中国IP市场专题分析2017</a></div>
                    <div>已结束</div>
                </div>
                <div class="list-conter" title="IP产业梳理及发展现状/典型厂商分析/网文IP用户属性分析及作品推荐/产业发展趋势">IP产业梳理及发展现状/典型厂商分析/网文IP用户属性分析及作品推荐...</div>
                <div class="list-foot">
                    <i class="fa fa-microphone"></i>
                    <span class="list-f-name" title="黄国峰">黄国峰</span>
                    <i class="fa fa-clock-o"></i>
                    <span class="list-f-time">2017-01-24 20:00</span>
                </div>
            </li>
        </ul>
        <div class="ana-section-txt1">
            <h4>数聚论</h4>
            <span>互联网+垂直行业的线下研讨会</span>
            <a href="#">查看更多></a>
        </div>
        <ul class="ana-content-one">
            <li class="ana-list">
                <div class="list-img">
                    <a href="#" title="易观相对论（第103期）—金融科技专场：互联网金融的下一个风口在哪里？">
                        <img src="./src/imgs/analysys/148223508.jpg" alt=""/>
                    </a>
                </div>
                <div class="list-tit">
                    <div><a href="#" title="易观相对论（第103期）—金融科技专场：互联网金融的下一个风口在哪里？">易观相对论（第103期）—金融科技专...</a></div>
                    <div>已结束</div>
                </div>
                <div class="list-conter" title="金融业作为信息密集型行业，信息技术的每一次革新和大规模应用都曾深刻改变金融业的面貌。从这个角度来看，“金融科技”或许是比“互联网金融”更有生命力和影响力的一个标签。相比“互联网金融”，“金融科技”这个词更聚焦于以大数据、云计算、移动互联等代表的新一轮信息技术的应用与普及，并强调它们对于提升金融效率和优化金融服务的重要作用。随着大数据、云计算、区块链、人工智能、移动互联等新一代信息技术的发展和应用，科技在提升金融效率、改善金融服务方面的影响越发显著。对于企业而言，在技术上的投入和创新的能力也将愈发重要。">金融业作为信息密集型行业，信息技术的每一次革新和大规模应用都曾深刻改...</div>
                <div class="list-two-name">
                    <i class="fa fa-microphone"></i>
                    <span title="王蓬博、贺昊勋、谢平川、雷洲">王蓬博、贺昊勋、谢平川、雷洲</span>
                </div>
                <div class="list-foot">
                    <i class="fa fa-map-marker"></i>
                    <span class="list-f-name" title="北京">北京</span>
                    <i class="fa fa-clock-o"></i>
                    <span class="list-f-time">2016-12-30 14:00</span>
                </div>

            </li>
            <li class="ana-list">
                <div class="list-img">
                    <a href="#" title="易观相对论（第102期）—如何读懂企业的“第四张报表”（数据驱动营销专场）">
                        <img src="./src/imgs/analysys/14798934785511080_640.jpg" alt=""/>
                    </a>
                </div>
                <div class="list-tit">
                    <div><a href="#" title="易观相对论（第102期）—如何读懂企业的“第四张报表”（数据驱动营销专场）">易观相对论（第102期）—如何读懂企...</a></div>
                    <div>已结束</div>
                </div>
                <div class="list-conter" title="随着移动互联网的发展，企业实力的体现不再只是财务的三张报表，数字用户资产将占据重要的位置成为企业的第四张报表。为何要管理数字用户资产？关键在于数字用户资产带来的四大价值：市值管理、获取用户、提高留存、提高ARPU。">随着移动互联网的发展，企业实力的体现不再只是财务的三张报表，数字用户...</div>
                <div class="list-two-name">
                    <i class="fa fa-microphone"></i>
                    <span title="朱江，李勇，张宇">朱江，李勇，张宇</span>
                </div>
                <div class="list-foot">
                    <i class="fa fa-map-marker"></i>
                    <span class="list-f-name">北京</span>
                    <i class="fa fa-clock-o"></i>
                    <span class="list-f-time">2016-11-30 14:00</span>
                </div>
            </li>
            <li class="ana-list">
                <div class="list-img">
                    <a href="#" title="易观相对论（第101期）-《中国电商数字营销市场专题报告》发布沙龙">
                        <img src="./src/imgs/analysys/1476077.jpg" alt=""/>
                    </a>
                </div>
                <div class="list-tit">
                    <div><a href="#" title="易观相对论（第101期）-《中国电商数字营销市场专题报告》发布沙龙">易观相对论（第101期）-《中国电商...</a></div>
                    <div>已结束</div>
                </div>
                <div class="list-conter" title="近年来，电商数字营销发展迅速，营销创新层出不穷，易观独家访问主流综合电商，深度剖析阿里和京东数字营销生态建设和发展现状，解密电商营销品效合一之道。">近年来，电商数字营销发展迅速，营销创新层出不穷，易观独家访问主流综合...</div>
                <div class="list-two-name">

                </div>
                <div class="list-foot">
                    <i class="fa fa-map-marker"></i>
                    <span class="list-f-name" title="北京">北京</span>
                    <i class="fa fa-clock-o"></i>
                    <span class="list-f-time">2016-10-13 14:00</span>
                </div>
            </li>
            <li class="ana-list">
                <div class="list-img">
                    <a href="#" title="易观相对论(第100期）—普惠金融专场">
                        <img src="./src/imgs/analysys/14745108659.jpg" alt=""/>
                    </a>
                </div>
                <div class="list-tit">
                    <div><a href="#" title="易观相对论(第100期）—普惠金融专场">易观相对论(第100期）—普惠金融专...</a></div>
                    <div>已结束</div>
                </div>
                <div class="list-conter" title="今年G20会议的一个重要议题就是普惠金融。中国作为G20主席国，以三大文件为抓手，在推动普惠金融议题方面已经取得了重要进展。">今年G20会议的一个重要议题就是普惠金融。中国作为G20主席国，以三...</div>
                <div class="list-two-name">
                    <i class="fa fa-microphone"></i>
                    <span title="李子川、曾克庆、张晓、宋铮、李志远">李子川、曾克庆、张晓、宋铮、李...</span>
                </div>
                <div class="list-foot">
                    <i class="fa fa-map-marker"></i>
                    <span class="list-f-name" title="深圳">深圳</span>
                    <i class="fa fa-clock-o"></i>
                    <span class="list-f-time">2016-09-29 14:00</span>
                </div>
            </li>
        </ul>
        <div class="ana-briefIntroduction">
            <div class="ana-section-txt1">
                <h4>导师简介</h4>
                <span>他们都是行业精英</span>
                <a href="#">查看更多></a>
            </div>
            <ul class="ana-brief-list">
                <li>
                    <div class="teacher-img">
                        <a href="./pages/ana-lecturer.html"><img src="./src/imgs/analysys/1.jpg"  title="姜昕蔚" alt=""/></a>
                    </div>
                    <div class="teacher-txt">
                        <div class="teacher-txt-show">
                            <div><h5>姜昕蔚</h5></div>
                            <div><p>讲师</p></div>
                        </div>
                        <div class="teacher-txt-hide">

                            <div><a href="#" title="中国汽车电子商务市场盘点2016">• 中国汽车电子商务市场.. ></a></div>
                            <div><a href="#" title="易观智库姜昕蔚--行业迅速发展，洗牌中酝酿新产业结构">• 易观智库姜昕蔚--行业.. ></a></div>
                        </div>
                    </div>

                </li>
                <li>
                    <div class="teacher-img">
                        <a href="#"><img src="./src/imgs/analysys/2.jpg" title="庞亿明" alt=""/></a>
                    </div>
                    <div class="teacher-txt">
                        <div class="teacher-txt-show">
                            <div><h5>庞亿明</h5></div>
                            <div><p>讲师</p></div>
                        </div>
                        <div class="teacher-txt-hide">

                            <div><a href="#" title="消费升级下的营销进化">• 消费升级下的营销进化.. ></a></div>
                            <div><a href="#" title="如何提升市场运营ROI—易观相对论（94期）">• 如何提升市场运营RO.. ></a></div>
                        </div>
                    </div>

                </li>
                <li>
                    <div class="teacher-img">
                        <a href="#"><img src="./src/imgs/analysys/3.png" title="孙梦子" alt=""/></a>
                    </div>
                    <div class="teacher-txt">
                        <div class="teacher-txt-show">
                            <div><h5>孙梦子</h5></div>
                            <div><p>讲师</p></div>
                        </div>
                        <div class="teacher-txt-hide">

                            <div><a href="#" title="易观智库孙梦子--生活服务O2O市场的形与数">• 易观智库孙梦子--生活.. ></a></div>
                        </div>
                    </div>

                </li>
                <li>
                    <div class="teacher-img">
                        <a href="#"><img src="./src/imgs/analysys/4.jpg" title="杨帆" alt=""/></a>
                    </div>
                    <div class="teacher-txt">
                        <div class="teacher-txt-show">
                            <div><h5>杨帆</h5></div>
                            <div><p>讲师</p></div>
                        </div>
                        <div class="teacher-txt-hide">

                            <div><a href="#" title="2015智能硬件行业盘点——易观相对论（86期）">• 2015智能硬件行业.. ></a></div>
                        </div>
                    </div>

                </li>
            </ul>
        </div>
        <div class="ana-sliding">
            <div class="ana-section-txt1">
                <h4>易观社群</h4>
                <span>我们都在这里</span>
            </div>
            <div class="ana-rout">
                <ul class="ana-rout-list">
                    <li><div><img src="./src/imgs/analysys/j1.jpg" title="当汽车遇上互联网" alt=""/></div><p title="当汽车遇上互联网">当汽车遇上互...</p></li>
                    <li><div><img src="./src/imgs/analysys/j2.jpg" title="电子商务行业交流" alt=""/></div><p title="电子商务行业交流">电子商务行业...</p></li>
                    <li><div><img src="./src/imgs/analysys/j3.jpg" title="工业4.0与智能制造" alt=""/></div><p title="工业4.0与智能制造">工业4.0与...</p></li>
                    <li><div><img src="./src/imgs/analysys/j4.jpg" title="互联网教育行业交流" alt=""/></div><p title="互联网教育行业交流">互联网教育行...</p></li>
                    <li><div><img src="./src/imgs/analysys/j5.jpg" title="互联网金融行业解读" alt=""/></div><p title="互联网金融行业解读">互联网金融行...</p></li>
                    <li><div><img src="./src/imgs/analysys/j6.jpg" title="互联网体育行业交流群" alt=""/></div><p title="互联网体育行业交流群">互联网体育行...</p></li>
                    <li><div><img src="./src/imgs/analysys/j7.jpg" title="互娱和他的朋友们" alt=""/></div><p title="互娱和他的朋友们">互娱和他的朋...</p></li>
                    <li><div><img src="./src/imgs/analysys/j8.jpg" title="健医诊疗室" alt=""/></div><p title="健医诊疗室">健医诊疗室</p></li>
                    <li><div><img src="./src/imgs/analysys/j9.jpg" title="母婴行业微信群" alt=""/></div><p title="母婴行业微信群">母婴行业微信...</p></li>
                    <li><div><img src="./src/imgs/analysys/j10.jpg" title="生活服务行业解读" alt=""/></div><p title="生活服务行业解读">生活服务行业...</p></li>
                    <li><div><img src="./src/imgs/analysys/j11.jpg" title="新媒体营销创想联盟" alt=""/></div><p title="新媒体营销创想联盟">新媒体营销创...</p></li>
                    <li><div><img src="./src/imgs/analysys/j12.jpg" title="易观游戏圈" alt=""/></div><p title="易观游戏圈">易观游戏圈</p></li>
                    <li><div><img src="./src/imgs/analysys/j13.jpg" title="在线旅游集散地" alt=""/></div><p title="在线旅游集散地">在线旅游集散...</p></li>
                    <li><div><img src="./src/imgs/analysys/j14.jpg" title="智能硬件行业交流" alt=""/></div><p title="智能硬件行业交流">智能硬件行业...</p></li>
                </ul>
                <ul class="ana-rout-an">
                    <li class="an1"></li>
                    <li class="an2"></li>
                </ul>
            </div>
            <div class="ana-code">
                <div><img src="./src/imgs/analysys/joinus.jpg" alt=""/></div>
                <p>扫码发送社群名称加入我们</p>
            </div>
        </div>
    </div>
</div>


